@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")

:root 
  --Base: #FAF9F6
  --Base-2: #edece9
  --Text: black
  --Highlight: #dce0e8
  --Accent: #bf94e4

  --color-1: #e78284
  --color-2: #99d1db
  --color-3: #a6d189

  --Base-shadow: rgba(125,124,123,.25)
  --Accent-shadow: rgba(143,111,171,.25)
  --color-1-shadow: rgba(173,97,99,.25)
  --color-2-shadow: rgba(115,157,164,.25)
  --color-3-shadow: rgba(124,157,103,.25)

@media (prefers-color-scheme: dark) 
  :root 
    --Text: #f2f2f2
    --Separators: #f2f2f240
    --Hover-Button: #f2f2f225
    --Highlight: #010102
    --Accent: #f4b8e4
    --Base-shadow: rgba(17,19,26,.5)
    --Base: #101010
    --Base-2: #222

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Poppins", sans-serif
    scroll-behavior: smooth
    color: var(--Text)
    font-weight: 600
    letter-spacing: 0.05rem


body 
  background-color: var(--Base)
